@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .image-info-card {
    @apply mx-auto flex max-w-xs items-center space-x-1.5 rounded-xl bg-white p-1.5 shadow-sm;
  }

  .mdc-btn-toolbar {
    @apply w-8 flex-col items-center justify-between space-y-1 overflow-visible text-slate-400 transition-colors hover:text-sky-400 focus:outline-none active:brightness-95;
  }

  .mdc-card-header {
    @apply items-start pl-3 font-semibold text-slate-400;
  }

  .mdc-card-body {
    @apply flex w-full rounded-xl bg-slate-200 p-3 shadow-inner dark:bg-[#2b313f];
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
