@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .mdc-btn-toolbar {
    @apply w-8 flex-col items-center justify-between space-y-1 overflow-visible text-slate-400 transition-colors hover:text-primary focus:outline-none active:brightness-95;
  }

  .mdc-card-header {
    @apply items-start pl-3 font-semibold text-primary dark:text-slate-400;
  }

  .mdc-card-body {
    @apply flex w-full rounded-xl border-2 bg-white p-3  dark:border-0 dark:bg-[#2b313f] dark:shadow-inner;
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
