@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .image-info-card {
    @apply mx-auto flex max-w-xs items-center space-x-1.5 rounded-xl bg-white p-1.5 shadow-sm;
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
